nodered/flows.json
[{"id":"c36f62b1.43f4e","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"2615dcb.9e1c524","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"488097f5.509eb8","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"3d77ad2a.285972","type":"tab","label":"Input","disabled":false,"info":""},{"id":"ba4bbeec.505b2","type":"subflow","name":"GetRoomState","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"6c69b128.06a97"}]}],"out":[{"x":560,"y":60,"wires":[{"id":"6c69b128.06a97","port":0}]},{"x":560,"y":140,"wires":[]}],"env":[],"color":"#DDAA99"},{"id":"1042b820.093f38","type":"subflow","name":"LightsAutomation","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a2cd7fcf.355c6"}]}],"out":[{"x":1060,"y":40,"wires":[{"id":"ba118771.9e9f48","port":0}]},{"x":700,"y":480,"wires":[{"id":"a2cd7fcf.355c6","port":1},{"id":"a070a1a7.ee58a","port":1},{"id":"ba118771.9e9f48","port":1},{"id":"ba118771.9e9f48","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d5a58afa.b95938","type":"mqtt-broker","name":"smarthome_mosquitto","broker":"smarthome_mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7692284c.e96508","type":"mqtt-broker","broker":"192.168.0.31","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d9519f38.d54b4","type":"ui_tab","name":"Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9b2af82.ad20d","type":"ui_group","name":"Temperature","tab":"d9519f38.d54b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd055f85.33893","type":"ui_group","name":"Humidity","tab":"d9519f38.d54b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"9076ea9f.2539b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a8566c30.fa1ea","type":"mongodb3","uri":"mongodb://smarthome_mongo_1/devices?authSource=admin","name":"devices","options":"","parallelism":"-1"},{"id":"b21ca8b3.803e28","type":"ui_group","name":"Motion","tab":"d9519f38.d54b4","order":3,"disp":true,"width":"6","collapse":false},{"id":"bc26ca85.4d47c8","type":"ui_group","name":"Light","tab":"d9519f38.d54b4","order":4,"disp":true,"width":"6","collapse":false},{"id":"56777425.ab424c","type":"ui_tab","name":"Lights","icon":"dashboard","disabled":false,"hidden":false},{"id":"3352aef5.aa8d62","type":"ui_group","name":"RGB","tab":"56777425.ab424c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e092585.2c846a","type":"ui_group","name":"Motion","tab":"739a6de9.dd5774","order":1,"disp":true,"width":"6","collapse":false},{"id":"739a6de9.dd5774","type":"ui_tab","name":"Automations","icon":"dashboard","disabled":false,"hidden":false},{"id":"1c01fac0.4546c5","type":"debug","z":"2615dcb.9e1c524","name":"Sensors msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":400,"wires":[]},{"id":"c48fe517.372358","type":"json","z":"2615dcb.9e1c524","name":"","property":"payload","action":"","pretty":false,"x":310,"y":180,"wires":[["3945995d.3a66a6","7d1b427b.2e197c"]]},{"id":"3945995d.3a66a6","type":"switch","z":"2615dcb.9e1c524","name":"Select sensor","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"DHT","vt":"str"},{"t":"eq","v":"PIR","vt":"str"},{"t":"eq","v":"LDR","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":480,"y":180,"wires":[["c31e167d.e50b98"],["1d1ab87c.a988f8"],["59fdb6dc.e6e9d8"]]},{"id":"c31e167d.e50b98","type":"function","z":"2615dcb.9e1c524","name":"DHT values","func":"var temperature = msg.payload.t;\nif (Number(temperature)) {\n temperature = temperature - 2;   \n}\nvar msg1 = {\n    payload: temperature\n}\nvar msg2 = {\n    payload: msg.payload.h\n}\n\nreturn [msg1,msg2]\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":120,"wires":[["16f9160e.afe8fa"],["a0cb84d9.293248"]]},{"id":"1d1ab87c.a988f8","type":"function","z":"2615dcb.9e1c524","name":"PIR value","func":"msg.payload = msg.payload.payload == 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[["e1533286.3ce5a"]]},{"id":"59fdb6dc.e6e9d8","type":"function","z":"2615dcb.9e1c524","name":"LDR value","func":"msg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["fb8b67d5.c5cad8","804b692e.1ec8b8"]]},{"id":"73b1813e.06dc7","type":"mqtt in","z":"2615dcb.9e1c524","name":"","topic":"/sensors/esp8266_x/out","qos":"2","datatype":"auto","broker":"7692284c.e96508","x":140,"y":180,"wires":[["c48fe517.372358"]]},{"id":"26f16673.cf217a","type":"mongodb3 in","z":"2615dcb.9e1c524","service":"_ext_","configNode":"a8566c30.fa1ea","name":"","collection":"states","operation":"insertOne","x":750,"y":20,"wires":[["73f851c.91bccb"]]},{"id":"3f9991ee.cab3fe","type":"function","z":"2615dcb.9e1c524","name":"Add timestamp and location","func":"msg.payload = msg.payload;\nif (!msg.payload.datetime) {\n    msg.payload.datetime = new Date();\n}\nelse if (msg.payload.datetime.startDate) {\n    msg.payload.datetime = msg.payload.datetime.startDate;\n}\nelse {\n    msg.payload.datetime;\n}\nmsg.payload.datetime = new Date(msg.payload.datetime);\n// set current year\nmsg.payload.datetime.setFullYear(new Date().getFullYear());\n\nmsg.payload.location = \"office\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":20,"wires":[["26f16673.cf217a"]]},{"id":"73f851c.91bccb","type":"debug","z":"2615dcb.9e1c524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":20,"wires":[]},{"id":"16f9160e.afe8fa","type":"ui_gauge","z":"2615dcb.9e1c524","name":"","group":"d9b2af82.ad20d","order":0,"width":0,"height":0,"gtype":"gage","title":"Office","label":"units","format":"{{value}}","min":"18","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":80,"wires":[]},{"id":"a0cb84d9.293248","type":"ui_gauge","z":"2615dcb.9e1c524","name":"","group":"fd055f85.33893","order":0,"width":0,"height":0,"gtype":"wave","title":"Office","label":"units","format":"{{value}}","min":"18","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":120,"wires":[]},{"id":"e1533286.3ce5a","type":"ui_switch","z":"2615dcb.9e1c524","name":"","label":"Office","tooltip":"","group":"b21ca8b3.803e28","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":180,"wires":[[]]},{"id":"fb8b67d5.c5cad8","type":"ui_gauge","z":"2615dcb.9e1c524","name":"","group":"bc26ca85.4d47c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"804b692e.1ec8b8","type":"debug","z":"2615dcb.9e1c524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"eb598929.a03098","type":"mqtt in","z":"488097f5.509eb8","name":"","topic":"/dev/sensors","qos":"2","datatype":"json","broker":"7692284c.e96508","x":160,"y":100,"wires":[["5df27b78.632384"]]},{"id":"bed0db53.071638","type":"debug","z":"488097f5.509eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"5df27b78.632384","type":"function","z":"488097f5.509eb8","name":"Set global state","func":"var location = msg.payload.location;\nmsg.location = location;\nif (!location) {\n    msg.error = \"No location\";\n    return [null, msg];\n}\nif (msg.payload.type == \"PIR\") {\n    var labelSuffix = msg.payload.payload == 1 ? \"on\" : \"off\";\n    global.set(`sensors.${location}.motion.${labelSuffix}`, new Date());\n} else if (msg.payload.type == \"LDR\") {\n    global.set(`sensors.${location}.light`, msg.payload.payload);\n}\n\nreturn [msg, null];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["bed0db53.071638"]]},{"id":"b4d494af.6f0f88","type":"mqtt in","z":"3d77ad2a.285972","name":"","topic":"/sensors/esp8266_x/out","qos":"2","datatype":"auto","broker":"7692284c.e96508","x":170,"y":100,"wires":[["8e9e99a0.a56d28"]]},{"id":"8e9e99a0.a56d28","type":"debug","z":"3d77ad2a.285972","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":100,"wires":[]},{"id":"6f452b0c.7fa8d4","type":"ui_colour_picker","z":"3d77ad2a.285972","name":"","label":"X","group":"3352aef5.aa8d62","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":140,"y":200,"wires":[["788be799.f790a8","ed11134f.769dd"]]},{"id":"788be799.f790a8","type":"debug","z":"3d77ad2a.285972","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"99d6f711.a19d18","type":"mqtt out","z":"3d77ad2a.285972","name":"","topic":"/sensors/esp8266_x/in","qos":"","retain":"","broker":"7692284c.e96508","x":520,"y":320,"wires":[]},{"id":"ed11134f.769dd","type":"function","z":"3d77ad2a.285972","name":"","func":"msg.payload = {\n    payload: {\n        r: msg.payload.r,\n        g: msg.payload.g,\n        b: msg.payload.b,\n        i: global.get(\"officeLightIntensity\") || 50\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["99d6f711.a19d18"]]},{"id":"c2635217.f5ff","type":"mqtt out","z":"2615dcb.9e1c524","name":"","topic":"/dev/sensors","qos":"","retain":"","broker":"7692284c.e96508","x":530,"y":320,"wires":[]},{"id":"6c69b128.06a97","type":"function","z":"ba4bbeec.505b2","name":"","func":"var on = global.get(`sensors.${msg.location}.motion.on`);\nvar off = global.get(`sensors.${msg.location}.motion.off`);\nvar light = global.get(`sensors.${msg.location}.light`);\n\nif (on) {\n    on = new Date(on);\n}\n\nif (off) {\n    off = new Date(off);\n}\n\nmsg.payload = {\n        state: {\n           motion: {\n            on,\n            off\n           }\n        }\n    }\n\nmsg.payload.state.light = light;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[[]]},{"id":"a070a1a7.ee58a","type":"function","z":"1042b820.093f38","name":"IsEnabled","func":"var settingKey = `${msg.location}LightsAutomationEnabled`;\nvar globalEnabled = global.get(settingKey);\nif (!globalEnabled) {\n    msg.error = \"Global automations not enabled\";\n    return [null,msg];\n}\n\nvar date = new Date();\nvar h = date.getHours() + 2;\n\nif ((16 <= h && h < 23) || (5 <= h && h < 15)) {\n   return [msg, null];\n} else {\n    msg.error = \"Not in prefered automations interval\";\n    return [null, msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":40,"wires":[["ba118771.9e9f48"],[]]},{"id":"a2cd7fcf.355c6","type":"function","z":"1042b820.093f38","name":"Validate Input","func":"if (!msg.location) {\n    msg.error = \"Missing location\";\n    return [null, msg]\n}\n\nreturn [msg, null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":180,"y":40,"wires":[["b3a9f757.365d58"],[]]},{"id":"ba118771.9e9f48","type":"function","z":"1042b820.093f38","name":"CheckMotion","func":"var motionState =  global.get(`${msg.location}MotionState`);\nvar motion_sensitivity = global.get(`${msg.location}MotionSensitivity`);\nmsg.sensitivity = motion_sensitivity;\nmsg.motionState = motionState;\n\nvar officeLightDuration = global.get(`${msg.location}LightDuration`);\nmsg.officeLightDuration = officeLightDuration;\nvar timestamp_off = new Date(msg.payload.state.motion.off);\nvar timestamp_on = new Date(msg.payload.state.motion.on);\n\nvar diff_on = new Date() - timestamp_on;\nvar seconds_on = Math.floor(diff_on/1000);\nvar minutes_on = Math.floor(seconds_on/60);\n\nvar diff_off = new Date() - timestamp_off;\nvar seconds_off = Math.floor(diff_off/1000);\nvar minutes_off = Math.floor(seconds_off/60);\n\nmsg.times = {diff_on, seconds_on, minutes_on, diff_off, seconds_off, minutes_off };\n//return [null, msg];\nif (timestamp_on) {\n    if (seconds_on < motion_sensitivity) {\n        msg.command = \"ON\";\n        global.set(`${msg.location}MotionState`, \"ON\");\n        \n        return [msg,null];\n    }\n}\nif (timestamp_off) {\n    \n    \n\n    if (seconds_off >= officeLightDuration) {\n        msg.command = \"OFF\";\n        global.set(`${msg.location}MotionState`, \"OFF\");\n        \n        return [msg,null];\n    }\n}\n\n\n\n\n\nmsg.error = \"No command\";\nreturn [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":770,"y":40,"wires":[[],[]]},{"id":"b3a9f757.365d58","type":"subflow:ba4bbeec.505b2","z":"1042b820.093f38","name":"GetRoomState","env":[],"x":380,"y":40,"wires":[["a070a1a7.ee58a"],[]]},{"id":"18d0a423.b8d13c","type":"inject","z":"488097f5.509eb8","name":"","props":[{"p":"payload"},{"p":"location","v":"office","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[[]]},{"id":"a60ba821.050c98","type":"inject","z":"488097f5.509eb8","name":"","props":[{"p":"payload"},{"p":"location","v":"office","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["c2e021f2.0810c"]]},{"id":"c2e021f2.0810c","type":"subflow:1042b820.093f38","z":"488097f5.509eb8","name":"","env":[],"x":350,"y":260,"wires":[["36857a67.79b876","5a815087.90402"],["36857a67.79b876","4b998448.f39d6c"]]},{"id":"b26a8e91.4b00c","type":"mqtt out","z":"488097f5.509eb8","name":"","topic":"/sensors/esp8266_x/in","qos":"","retain":"","broker":"7692284c.e96508","x":1180,"y":200,"wires":[]},{"id":"f548711a.f1903","type":"ui_switch","z":"c36f62b1.43f4e","name":"","label":"Office","tooltip":"","group":"3e092585.2c846a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":120,"wires":[["a9d1be07.e702e"]]},{"id":"a9d1be07.e702e","type":"change","z":"c36f62b1.43f4e","name":"","rules":[{"t":"set","p":"officeLightsAutomationEnabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[[]]},{"id":"56fc6010.44a09","type":"inject","z":"c36f62b1.43f4e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":60,"wires":[["a9d1be07.e702e"]]},{"id":"2397383f.90a328","type":"ui_numeric","z":"c36f62b1.43f4e","name":"","label":"Sensitivity","tooltip":"","group":"3e092585.2c846a","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":150,"y":240,"wires":[["36a4c884.552518"]]},{"id":"36a4c884.552518","type":"change","z":"c36f62b1.43f4e","name":"","rules":[{"t":"set","p":"officeMotionSensitivity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[[]]},{"id":"45770f8c.f3934","type":"ui_numeric","z":"c36f62b1.43f4e","name":"","label":"Duration","tooltip":"","group":"3e092585.2c846a","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":140,"y":320,"wires":[["561c715c.b9501"]]},{"id":"561c715c.b9501","type":"change","z":"c36f62b1.43f4e","name":"","rules":[{"t":"set","p":"officeLightDuration","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[[]]},{"id":"4b998448.f39d6c","type":"debug","z":"488097f5.509eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":320,"wires":[]},{"id":"7d1b427b.2e197c","type":"function","z":"2615dcb.9e1c524","name":"Add location","func":"msg.payload.location = \"office\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":320,"wires":[["c2635217.f5ff","1c01fac0.4546c5"]]},{"id":"b992add9.c74f4","type":"debug","z":"488097f5.509eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"36857a67.79b876","type":"debug","z":"488097f5.509eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"c169222b.c90dc","type":"switch","z":"488097f5.509eb8","name":"","property":"location","propertyType":"msg","rules":[{"t":"eq","v":"office","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":260,"wires":[["fb672648.f38028","29f3614f.fd343e"]]},{"id":"38901262.34b52e","type":"debug","z":"488097f5.509eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"29f3614f.fd343e","type":"function","z":"488097f5.509eb8","name":"Command Socket","func":"msg.payload = msg.command == \"ON\" ? \"True\" : \"False\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":280,"wires":[["38901262.34b52e","170aaaab.84be85"]]},{"id":"170aaaab.84be85","type":"mqtt out","z":"488097f5.509eb8","name":"","topic":"home/office/switch1/set","qos":"","retain":"","broker":"7692284c.e96508","x":1230,"y":360,"wires":[]},{"id":"fb672648.f38028","type":"function","z":"488097f5.509eb8","name":"Command RGB","func":"if (msg.command == \"ON\") {\n    msg.payload = {\n            payload: {\n                r: 30,\n                g: 138,\n                b: 91,\n                a: 1,\n                i: global.get(`${msg.location}LightIntensity`) || 50\n            }\n        };\n} else {\n    msg.payload = {\n        payload: {\n            r: 0,\n            g: 0,\n            b: 0,\n            a: 1\n        }\n    };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":220,"wires":[["b26a8e91.4b00c","38901262.34b52e"]]},{"id":"5a815087.90402","type":"function","z":"488097f5.509eb8","name":"","func":"var motionState = msg.motionState;\nif (msg.command == \"ON\" && motionState != \"ON\") {\n    return [msg, null];\n} else if (msg.command == \"OFF\" && motionState != \"OFF\") {\n    return [null,msg];    \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["b992add9.c74f4","c169222b.c90dc"],["c169222b.c90dc","b992add9.c74f4"]]},{"id":"3afa3be5.7a34f4","type":"ui_numeric","z":"c36f62b1.43f4e","name":"","label":"Intensity","tooltip":"","group":"3e092585.2c846a","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"10","x":140,"y":400,"wires":[["f861159c.20a878"]]},{"id":"f861159c.20a878","type":"change","z":"c36f62b1.43f4e","name":"","rules":[{"t":"set","p":"officeLightIntensity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":400,"wires":[[]]}]