nodered/prototype.json
[{"id":"d1eb4cae.8fc7d","type":"tab","label":"Protocol Adapters","disabled":false,"info":""},{"id":"f7c8ae43.86b94","type":"tab","label":"IoTHub","disabled":false,"info":""},{"id":"628198f8.319de8","type":"tab","label":"Stream Analytics and Storage","disabled":false,"info":""},{"id":"43f876fd.484248","type":"postgresDB","name":"postgres@smarthome_db:5432/postgres","host":"smarthome_db","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"passw0rd","passwordFieldType":"str"},{"id":"64eb9310.c5b6bc","type":"mqtt-broker","name":"","broker":"smarthome_mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a4f465f.0d4a48","type":"mqtt-broker","name":"","broker":"192.168.0.31","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9641bb8c.0f5ec8","type":"mqtt in","z":"f7c8ae43.86b94","name":"","topic":"123456789/#","qos":"2","datatype":"auto","broker":"64eb9310.c5b6bc","x":230,"y":120,"wires":[["a746f762.f09158"]]},{"id":"40c86791.5db9d8","type":"mqtt in","z":"d1eb4cae.8fc7d","name":"","topic":"/serial_cube/out","qos":"2","datatype":"auto","broker":"5a4f465f.0d4a48","x":120,"y":80,"wires":[["e01e188d.1f9438","9afadf4f.382c7"]]},{"id":"76082a97.9561d4","type":"mqtt out","z":"d1eb4cae.8fc7d","name":"","topic":"123456789/d356137d-d71a-44c5-ad8c-a4c37ee2fa8d","qos":"","retain":"","broker":"64eb9310.c5b6bc","x":880,"y":20,"wires":[]},{"id":"de431d89.0b3c9","type":"mqtt in","z":"d1eb4cae.8fc7d","name":"","topic":"/sensors/esp8266_2/out","qos":"2","datatype":"auto","broker":"5a4f465f.0d4a48","x":140,"y":320,"wires":[["d44b37b6.658228"]]},{"id":"e01e188d.1f9438","type":"debug","z":"d1eb4cae.8fc7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"d44b37b6.658228","type":"debug","z":"d1eb4cae.8fc7d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":320,"wires":[]},{"id":"9afadf4f.382c7","type":"json","z":"d1eb4cae.8fc7d","name":"","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["ccc9adf9.27337"]]},{"id":"ccc9adf9.27337","type":"switch","z":"d1eb4cae.8fc7d","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"DHT","vt":"str"},{"t":"eq","v":"LDR","vt":"str"},{"t":"eq","v":"PIR","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":120,"wires":[["42cd1275.b2e12c"],["1ba61e19.c5dd32"],["e7ca00d.be56e"]]},{"id":"42cd1275.b2e12c","type":"function","z":"d1eb4cae.8fc7d","name":"DHT","func":"var msg_t = {\n    payload: {\n        'payload': msg.payload.payload.temperature,\n        'payload_type': 'numeric'\n    }\n};\n\nvar msg_h = {\n    payload: {\n        'payload': msg.payload.payload.humidity,\n        'payload_type': 'numeric'\n    }\n};\n\nreturn [msg_t, msg_h];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":590,"y":40,"wires":[["76082a97.9561d4"],["4301b2db.da304c"]]},{"id":"1ba61e19.c5dd32","type":"function","z":"d1eb4cae.8fc7d","name":"LDR","func":"msg.payload = {\n    'payload': Number(msg.payload.payload),\n    'payload_type': 'numeric'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[["5e24f4d9.35a02c"]]},{"id":"e7ca00d.be56e","type":"function","z":"d1eb4cae.8fc7d","name":"PIR","func":"msg.payload = {\n    'payload': Number(msg.payload.payload) == 1,\n    'payload_type': 'boolean'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":180,"wires":[["69bac8d4.27fff8"]]},{"id":"4301b2db.da304c","type":"mqtt out","z":"d1eb4cae.8fc7d","name":"","topic":"123456789/26091d93-19ea-412f-b297-1e3c5eb2946b","qos":"","retain":"","broker":"64eb9310.c5b6bc","x":880,"y":60,"wires":[]},{"id":"18f4909e.a5f17f","type":"function","z":"f7c8ae43.86b94","name":"Build Message","func":"var global_device_id = msg.topic.split('/')[1];\nmsg.payload = {\n    'global_device_id': global_device_id,\n    'payload_type': msg.payload.payload_type,\n    'payload': msg.payload.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[["dee29f72.beeca"]]},{"id":"a746f762.f09158","type":"json","z":"f7c8ae43.86b94","name":"","property":"payload","action":"","pretty":false,"x":400,"y":120,"wires":[["18f4909e.a5f17f"]]},{"id":"dee29f72.beeca","type":"mqtt out","z":"f7c8ae43.86b94","name":"","topic":"states_queue","qos":"","retain":"","broker":"64eb9310.c5b6bc","x":760,"y":120,"wires":[]},{"id":"18ed420d.95f36e","type":"mqtt in","z":"628198f8.319de8","name":"","topic":"storage_queue","qos":"2","datatype":"auto","broker":"64eb9310.c5b6bc","x":230,"y":80,"wires":[["41e0fafa.a01124"]]},{"id":"41e0fafa.a01124","type":"debug","z":"628198f8.319de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"bc8549ef.d165d8","type":"mqtt in","z":"628198f8.319de8","name":"","topic":"states_queue","qos":"2","datatype":"auto","broker":"64eb9310.c5b6bc","x":220,"y":160,"wires":[["165ae560.2796bb"]]},{"id":"31963473.03c14c","type":"debug","z":"628198f8.319de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"165ae560.2796bb","type":"json","z":"628198f8.319de8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["471f4e72.62a9f"]]},{"id":"88a733c8.69fb9","type":"postgrestor","z":"628198f8.319de8","name":"SetCurrentState","query":"do $$ \ndeclare\n    device_pk bigint;\n    global_device_uuid uuid = '{{msg.payload.global_device_id}}';\n  \nbegin\n\tselect d.id from devices d\n\twhere d.global_device_id = global_device_uuid into device_pk;\n\n\tif exists (select ds.id from device_state ds \n\t\tjoin devices d on d.id = ds.device_id \n\t\twhere d.global_device_id =global_device_uuid) THEN\n\t\tupdate device_state set numeric_state = {{msg.payload.numeric_state}},\n\t\tboolean_state = {{msg.payload.boolean_state}},\n\t\tstate = '{{msg.payload.state}}'\n\t\twhere device_state.device_id = device_pk;\n\telse\n\t\tINSERT INTO public.device_state\n\t\t(state, boolean_state, numeric_state, device_id)\n\t\tVALUES('{{msg.payload.state}}', {{msg.payload.boolean_state}}, {{msg.payload.numeric_state}}, device_pk);\n\tend if;\nend $$;\n","postgresDB":"43f876fd.484248","output":true,"outputs":1,"x":760,"y":160,"wires":[["b6e1fe60.2ed3"]]},{"id":"b6e1fe60.2ed3","type":"debug","z":"628198f8.319de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"471f4e72.62a9f","type":"function","z":"628198f8.319de8","name":"PrepareStateDbEntry","func":"msg.payload.numeric_state = 0;\nmsg.payload.boolean_state = false;\nmsg.payload.state = '';\n\nif (msg.payload.payload_type == 'numeric') {\n    msg.payload.numeric_state = msg.payload.payload;\n}\nif (msg.payload.payload_type == 'boolean') {\n    msg.payload.boolean_state = msg.payload.payload;\n}\nif (msg.payload.payload_type == 'json') {\n    msg.payload.state = msg.payload.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":160,"wires":[["88a733c8.69fb9","31963473.03c14c","cefdf155.5d11a"]]},{"id":"69bac8d4.27fff8","type":"mqtt out","z":"d1eb4cae.8fc7d","name":"","topic":"123456789/d5295c8c-71e5-430a-869c-853efbdc06ee","qos":"","retain":"","broker":"64eb9310.c5b6bc","x":880,"y":180,"wires":[]},{"id":"5e24f4d9.35a02c","type":"mqtt out","z":"d1eb4cae.8fc7d","name":"","topic":"123456789/8d3ffddc-13eb-4e56-9f6a-0993dd60a84f","qos":"","retain":"","broker":"64eb9310.c5b6bc","x":880,"y":120,"wires":[]},{"id":"cefdf155.5d11a","type":"postgrestor","z":"628198f8.319de8","name":"SaveStateHistory","query":"do $$ \ndeclare\n    device_pk bigint;\n    global_device_uuid uuid = '{{msg.payload.global_device_id}}';\n  \nbegin\n\tselect d.id from devices d\n\twhere d.global_device_id = global_device_uuid into device_pk;\n\n\tINSERT INTO public.device_state_history\n\t(state, boolean_state, numeric_state, device_id)\n\tVALUES('{{msg.payload.state}}', {{msg.payload.boolean_state}}, {{msg.payload.numeric_state}}, device_pk);\n\t\nend $$;\n\n\n","postgresDB":"43f876fd.484248","output":true,"outputs":1,"x":770,"y":220,"wires":[["b6e1fe60.2ed3"]]}]